.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  background-color: #e8e8e8;
  display: flex;
}

.sidebar[open] {
  width: 20vw;
}

.sidebar textarea {
  height: 100%;
  width: calc(100% - 16px);
  font-size: 16px;
  padding: 8px;
  background-color: transparent;
  opacity: 0.3;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  resize: none;
}

.sidebar textarea:focus {
  outline: none;
  opacity: 1;
}


.sidebar summary {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  color: #8b8b8b;
  display: flex;
  width: 16px;
  height: 100%;
  border-left: 1px solid #0000003b;
  border-right: 1px solid #0000003b;
}

.sidebar summary .summary-text {
  font-size: 22px;
}

.sidebar[open] .summary-text {
  transform: rotate(180deg);
}

.mindmap {
  width: 100vw;
  height: 100vh;
}